body{
  background: #2F2E41;
}

nav{
  display: flex;
  justify-content: space-between;

  margin: 71px 98px 0px 99px;
}

nav ul{
  display: flex;
  gap: 64px;
  list-style: none;
}

li a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
}

li a:hover{
  font-weight: bold;
}

p{
  color: #ffffff9d;
  font-size: 16px;
  line-height: 28px;

  margin-bottom: 34px;
}

main{
  display: flex;
  justify-content: space-evenly;
  margin: 101px 89px 157px 99px;
}

section{
  text-align: center;
  font-family:'Open Sans', sans-serif;
}

h1{
  font-size: 36px;
  line-height: 40px;

  margin-bottom: 59px;
}

h1, footer{
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
}

span{
  color: #00BFA6;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#line{
  border: 1px solid #00BFA6;
  width: 568px;
  height: 0px;
}

#padlock{
  position: fixed;
  bottom: 20px;
  left: 20px;
}